[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

# EDA:

* Visualize at least two quantitative variables and two categorical variables. Your visualizations must be relevant to the research questions!
* Describe any trends you observe, and any relationships you may want to follow up on.
* Describe any data cleaning steps you took. How will these decisions impact your models and
inferences?
* Explain how your visualizations should be relevant to your research questions: either by motivating the question, or suggesting a potential answer. You must explain why they are relevant.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime
import math

import matplotlib.pyplot as plt

In [2]:
from google.colab import files
# https://www.kaggle.com/datasets/jameslko/gun-violence-data?resource=download
# Run on Google Chrome to select the csv file in your local computer (should be 'gun-violence-data_01-2013_03-2018.csv')
uploaded = files.upload()

Saving gun-violence-data_01-2013_03-2018.csv to gun-violence-data_01-2013_03-2018.csv

In [3]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['gun-violence-data_01-2013_03-2018.csv']))
df

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [21]:
# https://www.census.gov/data/datasets/time-series/demo/popest/2010s-total-cities-and-towns.html#ds (1st table)
# Run on Google Chrome to select the csv file in your local computer (should be 'city_population_total_2010_2019.csv')
uploaded_2 = files.upload()

Saving city_population_total_2010_2019.csv to city_population_total_2010_2019.csv

In [22]:
# Dataframe of City Populations by Year
df_2 = pd.read_csv(io.BytesIO(uploaded_2['city_population_total_2010_2019.csv']),encoding = "latin1")
df_2

,Rank,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,"New York city, New York","8,175,133","8,175,031","8,190,209","8,272,948","8,346,693","8,396,091","8,433,806","8,463,049","8,469,153","8,437,478","8,390,081","8,336,817"
1,2,"Los Angeles city, California","3,792,621","3,793,139","3,795,512","3,820,876","3,851,202","3,881,622","3,909,901","3,938,568","3,963,226","3,975,788","3,977,596","3,979,576"
2,3,"Chicago city, Illinois","2,695,598","2,695,652","2,697,477","2,708,114","2,719,141","2,725,731","2,727,066","2,724,344","2,716,723","2,711,069","2,701,423","2,693,976"
3,4,"Houston city, Texas","2,099,451","2,095,517","2,100,280","2,126,032","2,161,593","2,199,391","2,241,826","2,286,908","2,309,544","2,316,750","2,318,573","2,320,268"
4,5,"Phoenix city, Arizona","1,445,632","1,446,691","1,449,038","1,469,796","1,499,274","1,526,491","1,555,445","1,583,690","1,612,199","1,633,560","1,654,675","1,680,992"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,784,"Lakewood city, Ohio","52,131","52,131","52,026","51,662","51,400","51,257","51,088","50,811","50,528","50,211","50,012","49,678"
784,785,"Troy city, New York","50,129","50,162","50,081","50,020","49,848","49,921","49,968","49,776","49,597","49,433","49,354","49,154"
785,786,"Saginaw city, Michigan","51,508","51,469","51,363","51,012","50,728","50,272","49,798","49,230","48,902","48,696","48,310","48,115"
786,787,"Niagara Falls city, New York","50,193","50,031","49,996","49,760","49,526","49,328","49,083","48,769","48,526","48,249","48,012","47,720"
787,788,"Charleston city, West Virginia","51,400","51,340","51,274","50,992","50,858","50,657","50,133","49,457","48,789","48,040","47,172","46,536"

In [25]:
# https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html (1st table)
# Run on Google Chrome to select the csv file in your local computer (should be 'state_population_total_2010_2019.csv')
uploaded_3 = files.upload()

Saving state_population_total_2010_2019.csv to state_population_total_2010_2019 (2).csv

In [26]:
# Dataframe of State Populations by Year
df_3 = pd.read_csv(io.BytesIO(uploaded_3['state_population_total_2010_2019.csv']))
df_3

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083
5,40,3,6,1,Alabama,4779736,4780125,4785437,4799069,4815588,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
6,40,4,9,2,Alaska,710231,710249,713910,722128,730443,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
7,40,4,8,4,Arizona,6392017,6392288,6407172,6472643,6554978,...,12.609078,4.278167,6.899802,6.376679,9.168478,9.597577,11.964782,10.878879,12.962934,13.687161
8,40,3,7,5,Arkansas,2915918,2916031,2921964,2940667,2952164,...,0.834503,3.294766,0.827785,0.057853,-0.091449,1.075446,1.486269,2.009593,0.958896,0.923429
9,40,4,9,6,California,37253956,37254519,37319502,37638369,37948800,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681
10,40,4,8,8,Colorado,5029196,5029319,5047349,5121108,5192647,...,5.473351,7.795086,7.512104,8.492707,9.117126,12.902098,10.634370,8.032033,9.410633,7.311426
11,40,1,1,9,Connecticut,3574097,3574147,3579114,3588283,3594547,...,-6.181756,0.242487,-0.409588,-1.671074,-1.941757,-3.756242,-4.137741,-2.616537,-1.533419,-2.728391
12,40,3,5,10,Delaware,897934,897937,899593,907381,915179,...,7.179090,4.848991,4.843736,6.150901,6.436204,6.713849,5.382576,6.252676,7.631475,7.254377
13,40,3,5,11,District of Columbia,601723,601767,605226,619800,634924,...,-3.130827,16.246186,16.091188,16.784065,10.637447,12.296969,8.092770,6.538613,3.481678,0.569887
14,40,3,5,12,Florida,18801310,18804564,18845537,19053237,19297822,...,6.268893,8.925935,10.561534,11.079296,13.202431,16.491494,18.258305,15.616389,12.657811,10.420286
15,40,3,5,13,Georgia,9687653,9688729,9711881,9802431,9901430,...,4.702641,2.953730,3.703741,1.655839,3.977992,5.719232,7.107500,5.868999,5.434037,6.127537
16,40,4,9,15,Hawaii,1360301,1360307,1363963,1379329,1394804,...,-9.742408,4.622184,5.086274,3.508325,-1.314307,0.317282,-1.303336,-6.875992,-5.974019,-6.207022
17,40,4,8,16,Idaho,1567582,1567657,1570746,1583910,1595324,...,15.468110,1.311712,0.507040,3.321347,6.047525,5.947892,13.145583,15.602505,13.921714,15.562524
18,40,2,3,17,Illinois,12830632,12831572,12840503,12867454,12882510,...,-8.268277,-2.635449,-3.393092,-3.135896,-5.111479,-6.028806,-6.905914,-6.649699,-7.328003,-6.755453
19,40,2,3,18,Indiana,6483802,6484051,6490432,6516528,6537703,...,0.595336,0.090413,-0.464677,1.323932,0.286119,-0.934854,0.694721,1.050827,2.846129,2.737025
20,40,2,4,19,Iowa,3046355,3046871,3050745,3066336,3076190,...,-1.589863,1.941776,-0.178103,2.301114,1.888640,0.567227,0.053100,0.618850,-0.656262,-0.744961
21,40,2,4,20,Kansas,2853118,2853123,2858190,2869225,2885257,...,-4.242985,-1.362919,0.469895,-2.140359,-2.254523,-1.321287,-3.615554,-4.291045,-2.581066,-2.833807
22,40,3,6,21,Kentucky,4339367,4339333,4348181,4369821,4386346,...,-0.345174,2.033035,0.963892,1.536343,-0.478285,0.484598,0.754274,1.766390,0.251531,-0.173819
23,40,3,7,22,Louisiana,4533372,4533487,4544532,4575625,4600972,...,-5.595970,2.073649,0.776105,0.975774,-0.241894,0.051995,-1.440045,-5.342778,-5.248091,-4.942803
24,40,1,1,23,Maine,1328361,1328358,1327629,1328284,1327729,...,4.929062,0.827587,-0.298191,0.722210,2.493115,-0.473902,3.478746,4.083380,4.968453,5.564109
25,40,3,5,24,Maryland,5773552,5773794,5788645,5839419,5886992,...,-3.917566,3.612639,3.257604,1.717501,1.118979,0.275479,-1.383949,-0.238959,-1.416954,-1.432606
26,40,1,1,25,Massachusetts,6547629,6547785,6566307,6613583,6663005,...,-4.395455,4.286075,4.593951,5.051165,4.922265,2.612559,2.069639,3.476476,1.619656,-0.268309
27,40,2,3,26,Michigan,9883640,9884116,9877510,9882412,9897145,...,-2.370446,-1.951728,-0.914581,-0.504689,-0.537824,-1.527775,0.057639,0.780980,-0.300042,-1.053932
28,40,2,4,27,Minnesota,5303925,5303927,5310828,5346143,5376643,...,0.011560,1.305812,0.394301,1.783298,1.689162,0.829590,2.493826,3.270817,2.832317,1.632242
29,40,3,6,28,Mississippi,2967297,2968130,2970548,2978731,2983816,...,-3.605740,-0.822957,-1.872690,-1.003595,-2.134072,-3.047029,-2.403450,-1.672565,-4.275713,-3.125981
30,40,2,4,29,Missouri,5988927,5988950,5995974,6010275,6024367,...,-0.115833,-0.993982,-0.889266,-0.154827,-0.458795,0.122692,-0.033720,1.182732,0.500152,0.781953
31,40,4,8,30,Montana,989415,989407,990697,997316,1003783,...,5.657818,3.754503,3.343163,6.905091,5.146804,5.514670,7.574829,9.217801,5.947528,5.960244
32,40,2,4,31,Nebraska,1826341,1826305,1829542,1840672,1853303,...,-2.186516,0.577623,1.178135,1.185936,1.783368,0.927174,2.058525,0.545850,-0.028114,-0.479272
33,40,4,8,32,Nevada,2700551,2700677,2702405,2712730,2743996,...,14.148840,-1.942334,6.142878,6.565982,9.763662,12.403407,12.971212,13.758376,15.559809,13.831198
34,40,1,1,33,New Hampshire,1316470,1316462,1316762,1320202,1324232,...,3.294294,0.918480,1.773536,0.608106,4.345173,2.061662,4.098322,4.916959,3.756866,4.729513
35,40,1,2,34,New Jersey,8791894,8791978,8799446,8828117,8844942,...,-5.509389,-0.789559,-2.093922,-2.140785,-2.868381,-3.080788,-3.261555,-1.374719,-2.792216,-3.113650
36,40,4,8,35,New Mexico,2059179,2059199,2064552,2080450,2087309,...,-1.019675,2.163570,-1.726107,-2.408853,-5.738621,-4.161423,-2.261703,-2.592619,-1.819561,-0.281652
37,40,1,2,36,New York,19378102,19378144,19399878,19499241,19572932,...,-9.267874,0.310701,-0.963243,-1.791701,-3.130145,-4.174457,-5.379085,-6.127425,-6.406096,-6.920598
38,40,3,5,37,North Carolina,9535483,9535751,9574323,9657592,9749476,...,6.453184,4.365764,5.258187,5.932176,5.279168,6.612526,9.049543,8.311209,8.409553,7.812475
39,40,2,4,38,North Dakota,672591,672576,674715,685225,701176,...,-1.666950,10.715179,16.716664,22.949497,14.080772,15.315123,-6.451442,-5.683143,-1.711806,-0.415751
40,40,2,3,39,Ohio,11536504,11536751,11539336,11544663,11548923,...,-1.105564,-1.900104,-1.878444,0.335559,-0.055998,-0.500254,-0.335715,0.934403,0.081934,-0.287861
41,40,3,7,40,Oklahoma,3751351,3751582,3759944,3788379,3818814,...,0.967937,3.614843,3.929176,5.064632,2.750342,4.513278,0.852239,-1.553900,-0.013974,2.103529
42,40,4,9,41,Oregon,3831074,3831079,3837491,3872036,3899001,...,6.148133,5.617206,3.885453,3.054669,7.349495,10.517812,15.722384,11.095753,7.451555,6.932692
43,40,1,2,42,Pennsylvania,12702379,12702868,12711160,12745815,12767118,...,-1.530139,1.552816,0.503431,-0.058645,-0.161708,-0.927692,-0.973673,0.284710,0.855382,-0.004375
44,40,1,1,44,Rhode Island,1052567,1052964,1053959,1053649,1054621,...,-3.036388,-1.483198,-0.632746,-0.701521,-0.066319,-0.587121,-0.319949,-1.596256,1.782437,0.406111
45,40,3,5,45,South Carolina,4625364,4625366,4635649,4671994,4717354,...,10.365420,4.472883,6.269019,7.244263,9.607938,11.600778,11.241529,11.026696,11.161729,11.484168
46,40,2,4,46,South Dakota,814180,814198,816166,823579,833566,...,1.093369,3.550552,6.513612,4.626817,1.715693,0.454461,5.211464,6.635312,1.345082,1.567465
47,40,3,6,47,Tennessee,6346105,6346276,6355311,6399291,6453898,...,5.295128,3.999341,5.375475,3.586588,4.550168,5.190219,6.072290,7.675288,7.543825,6.661665
48,40,3,7,48,Texas,25145561,25146091,25241971,25645629,26084481,...,4.361336,7.456866,8.764683,7.132347,10.003069,10.644301,8.369711,6.510551,5.448428,6.618846
49,40,4,8,49,Utah,2763885,2763891,2775332,2814384,2853375,...,4.902266,0.776426,1.451720,3.053374,1.683429,3.858608,9.016381,8.864528,6.983989,6.656804
50,40,1,1,50,Vermont,625741,625737,625879,627049,626090,...,-1.092645,0.897099,-2.464212,-0.352951,-2.290191,-0.028790,-2.507861,1.543268,0.440457,-0.479033
51,40,3,5,51,Virginia,8001024,8001049,8023699,8101155,8185080,...,-1.072502,4.396815,5.054575,3.455999,2.208119,1.521520,1.273915,2.382525,0.786684,0.673014
52,40,4,9,53,Washington,6724540,6724540,6742830,6826627,6897058,...,4.950999,6.906540,4.878573,4.473256,7.799901,10.408549,13.254138,12.865626,9.468242,8.135276
53,40,3,5,54,West Virginia,1852994,1853018,1854239,1856301,1856872,...,-3.933336,1.901071,0.828402,-0.825701,-1.779985,-2.551781,-4.330978,-5.336583,-4.484031,-4.127417
54,40,2,3,55,Wisconsin,5686986,5687285,5690475,5705288,5719960,...,-0.247295,-0.777306,-0.834993,0.066337,-0.421473,-1.068755,-0.628600,0.729926,0.763089,0.327262
55,40,4,8,56,Wyoming,563626,563775,564487,567299,576305,...,-1.750320,-0.379930,10.019202,4.863492,-4.816885,0.207166,-7.182252,-13.322489,-5.725739,-0.819814
56,40,X,X,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,...,0.000000,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,2.421463

In [27]:
# https://github.com/jakevdp/data-USstates/blob/master/state-areas.csv
# Use wget to receive dataset from above github

# Dataframe of land area of each state (to calculate state population density for later)
!wget https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
state_areas = "state-areas.csv"
df_4 = pd.read_csv(state_areas)
df_4

--2022-05-03 03:15:03--  https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 835 [text/plain]
Saving to: â€˜state-areas.csv.1â€™

state-areas.csv.1   100%[===================>]     835  --.-KB/s    in 0s

2022-05-03 03:15:03 (33.6 MB/s) - â€˜state-areas.csv.1â€™ saved [835/835]

                   state  area (sq. mi)
0                Alabama          52423
1                 Alaska         656425
2                Arizona         114006
3               Arkansas          53182
4             California         163707
5               Colorado         104100
6            Connecticut           5544
7               Delaware           1954
8                Florida          65758
9                Georgia          59441
10                Hawaii          10932
11                 Idaho          83574
12              Illinois          57918
13               Indiana          36420
14                  Iowa          56276
15                Kansas          82282
16              Kentucky          40411
17             Louisiana          51843
18                 Maine          35387
19              Maryland          12407
20         Massachusetts          10555
21              Michigan          96810
22             Minnesota          86943
23           Mississippi          48434
24              Missouri          69709
25               Montana         147046
26              Nebraska          77358
27                Nevada         110567
28         New Hampshire           9351
29            New Jersey           8722
30            New Mexico         121593
31              New York          54475
32        North Carolina          53821
33          North Dakota          70704
34                  Ohio          44828
35              Oklahoma          69903
36                Oregon          98386
37          Pennsylvania          46058
38          Rhode Island           1545
39        South Carolina          32007
40          South Dakota          77121
41             Tennessee          42146
42                 Texas         268601
43                  Utah          84904
44               Vermont           9615
45              Virginia          42769
46            Washington          71303
47         West Virginia          24231
48             Wisconsin          65503
49               Wyoming          97818
50  District of Columbia             68
51           Puerto Rico           3515

In [28]:
# If we're going to be looking at differences in differences,
# we need to have a treatment group (aka Pennsylvania for our Act 192)
# and a control group (aka New Jersey due to its proximity to Philadelphia, Pennsylvania).
# Time 1: 2014, Time 2: 2016

# We'll be making the same line graph of instances over years
# and bar graphs of most populated cities' instances
# but comparing between Penn. and NJ

In [29]:
# Cleaning #1: Adding 'year' column to help keep track of gun violence over year
df['datetime'] = pd.to_datetime(df["date"])
df['year'] = pd.DatetimeIndex(df['datetime']).year

In [30]:
# Cleaning #2: Cleaning up geography name and replacing with 'city' and 'state' columns for city population
city = []
state = []
for i in df_2['Geographic Area'].values:
  area = i.split(" city, ")
  city.append(area[0])
  state.append(area[1])
  
# Cleaning #2.5: Removing commas from population values
df_2.replace(',','', regex=True, inplace=True)

df_2['city_or_county'] = city
df_2['state'] = state
city_pop_df = df_2.drop(columns='Geographic Area')
city_pop_df

,Rank,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,city_or_county,state
0,1,8175133,8175031,8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817,New York,New York
1,2,3792621,3793139,3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576,Los Angeles,California
2,3,2695598,2695652,2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976,Chicago,Illinois
3,4,2099451,2095517,2100280,2126032,2161593,2199391,2241826,2286908,2309544,2316750,2318573,2320268,Houston,Texas
4,5,1445632,1446691,1449038,1469796,1499274,1526491,1555445,1583690,1612199,1633560,1654675,1680992,Phoenix,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,784,52131,52131,52026,51662,51400,51257,51088,50811,50528,50211,50012,49678,Lakewood,Ohio
784,785,50129,50162,50081,50020,49848,49921,49968,49776,49597,49433,49354,49154,Troy,New York
785,786,51508,51469,51363,51012,50728,50272,49798,49230,48902,48696,48310,48115,Saginaw,Michigan
786,787,50193,50031,49996,49760,49526,49328,49083,48769,48526,48249,48012,47720,Niagara Falls,New York
787,788,51400,51340,51274,50992,50858,50657,50133,49457,48789,48040,47172,46536,Charleston,West Virginia

In [31]:
# Cleaning #3: Cleaning up geography name and replacing with 'state' columns for state population
state_pop_df = df_3.rename(columns={'Geographic Area': 'state'})
state_pop_df

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083
5,40,3,6,1,Alabama,4779736,4780125,4785437,4799069,4815588,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
6,40,4,9,2,Alaska,710231,710249,713910,722128,730443,...,-12.929847,0.587728,1.416798,-0.955359,-11.460949,-7.997118,-3.897349,-10.992765,-13.859140,-12.031221
7,40,4,8,4,Arizona,6392017,6392288,6407172,6472643,6554978,...,12.609078,4.278167,6.899802,6.376679,9.168478,9.597577,11.964782,10.878879,12.962934,13.687161
8,40,3,7,5,Arkansas,2915918,2916031,2921964,2940667,2952164,...,0.834503,3.294766,0.827785,0.057853,-0.091449,1.075446,1.486269,2.009593,0.958896,0.923429
9,40,4,9,6,California,37253956,37254519,37319502,37638369,37948800,...,-5.151429,1.276797,1.495016,1.649031,2.203551,1.984957,0.500044,-0.629909,-2.130954,-3.276681
10,40,4,8,8,Colorado,5029196,5029319,5047349,5121108,5192647,...,5.473351,7.795086,7.512104,8.492707,9.117126,12.902098,10.634370,8.032033,9.410633,7.311426
11,40,1,1,9,Connecticut,3574097,3574147,3579114,3588283,3594547,...,-6.181756,0.242487,-0.409588,-1.671074,-1.941757,-3.756242,-4.137741,-2.616537,-1.533419,-2.728391
12,40,3,5,10,Delaware,897934,897937,899593,907381,915179,...,7.179090,4.848991,4.843736,6.150901,6.436204,6.713849,5.382576,6.252676,7.631475,7.254377
13,40,3,5,11,District of Columbia,601723,601767,605226,619800,634924,...,-3.130827,16.246186,16.091188,16.784065,10.637447,12.296969,8.092770,6.538613,3.481678,0.569887
14,40,3,5,12,Florida,18801310,18804564,18845537,19053237,19297822,...,6.268893,8.925935,10.561534,11.079296,13.202431,16.491494,18.258305,15.616389,12.657811,10.420286
15,40,3,5,13,Georgia,9687653,9688729,9711881,9802431,9901430,...,4.702641,2.953730,3.703741,1.655839,3.977992,5.719232,7.107500,5.868999,5.434037,6.127537
16,40,4,9,15,Hawaii,1360301,1360307,1363963,1379329,1394804,...,-9.742408,4.622184,5.086274,3.508325,-1.314307,0.317282,-1.303336,-6.875992,-5.974019,-6.207022
17,40,4,8,16,Idaho,1567582,1567657,1570746,1583910,1595324,...,15.468110,1.311712,0.507040,3.321347,6.047525,5.947892,13.145583,15.602505,13.921714,15.562524
18,40,2,3,17,Illinois,12830632,12831572,12840503,12867454,12882510,...,-8.268277,-2.635449,-3.393092,-3.135896,-5.111479,-6.028806,-6.905914,-6.649699,-7.328003,-6.755453
19,40,2,3,18,Indiana,6483802,6484051,6490432,6516528,6537703,...,0.595336,0.090413,-0.464677,1.323932,0.286119,-0.934854,0.694721,1.050827,2.846129,2.737025
20,40,2,4,19,Iowa,3046355,3046871,3050745,3066336,3076190,...,-1.589863,1.941776,-0.178103,2.301114,1.888640,0.567227,0.053100,0.618850,-0.656262,-0.744961
21,40,2,4,20,Kansas,2853118,2853123,2858190,2869225,2885257,...,-4.242985,-1.362919,0.469895,-2.140359,-2.254523,-1.321287,-3.615554,-4.291045,-2.581066,-2.833807
22,40,3,6,21,Kentucky,4339367,4339333,4348181,4369821,4386346,...,-0.345174,2.033035,0.963892,1.536343,-0.478285,0.484598,0.754274,1.766390,0.251531,-0.173819
23,40,3,7,22,Louisiana,4533372,4533487,4544532,4575625,4600972,...,-5.595970,2.073649,0.776105,0.975774,-0.241894,0.051995,-1.440045,-5.342778,-5.248091,-4.942803
24,40,1,1,23,Maine,1328361,1328358,1327629,1328284,1327729,...,4.929062,0.827587,-0.298191,0.722210,2.493115,-0.473902,3.478746,4.083380,4.968453,5.564109
25,40,3,5,24,Maryland,5773552,5773794,5788645,5839419,5886992,...,-3.917566,3.612639,3.257604,1.717501,1.118979,0.275479,-1.383949,-0.238959,-1.416954,-1.432606
26,40,1,1,25,Massachusetts,6547629,6547785,6566307,6613583,6663005,...,-4.395455,4.286075,4.593951,5.051165,4.922265,2.612559,2.069639,3.476476,1.619656,-0.268309
27,40,2,3,26,Michigan,9883640,9884116,9877510,9882412,9897145,...,-2.370446,-1.951728,-0.914581,-0.504689,-0.537824,-1.527775,0.057639,0.780980,-0.300042,-1.053932
28,40,2,4,27,Minnesota,5303925,5303927,5310828,5346143,5376643,...,0.011560,1.305812,0.394301,1.783298,1.689162,0.829590,2.493826,3.270817,2.832317,1.632242
29,40,3,6,28,Mississippi,2967297,2968130,2970548,2978731,2983816,...,-3.605740,-0.822957,-1.872690,-1.003595,-2.134072,-3.047029,-2.403450,-1.672565,-4.275713,-3.125981
30,40,2,4,29,Missouri,5988927,5988950,5995974,6010275,6024367,...,-0.115833,-0.993982,-0.889266,-0.154827,-0.458795,0.122692,-0.033720,1.182732,0.500152,0.781953
31,40,4,8,30,Montana,989415,989407,990697,997316,1003783,...,5.657818,3.754503,3.343163,6.905091,5.146804,5.514670,7.574829,9.217801,5.947528,5.960244
32,40,2,4,31,Nebraska,1826341,1826305,1829542,1840672,1853303,...,-2.186516,0.577623,1.178135,1.185936,1.783368,0.927174,2.058525,0.545850,-0.028114,-0.479272
33,40,4,8,32,Nevada,2700551,2700677,2702405,2712730,2743996,...,14.148840,-1.942334,6.142878,6.565982,9.763662,12.403407,12.971212,13.758376,15.559809,13.831198
34,40,1,1,33,New Hampshire,1316470,1316462,1316762,1320202,1324232,...,3.294294,0.918480,1.773536,0.608106,4.345173,2.061662,4.098322,4.916959,3.756866,4.729513
35,40,1,2,34,New Jersey,8791894,8791978,8799446,8828117,8844942,...,-5.509389,-0.789559,-2.093922,-2.140785,-2.868381,-3.080788,-3.261555,-1.374719,-2.792216,-3.113650
36,40,4,8,35,New Mexico,2059179,2059199,2064552,2080450,2087309,...,-1.019675,2.163570,-1.726107,-2.408853,-5.738621,-4.161423,-2.261703,-2.592619,-1.819561,-0.281652
37,40,1,2,36,New York,19378102,19378144,19399878,19499241,19572932,...,-9.267874,0.310701,-0.963243,-1.791701,-3.130145,-4.174457,-5.379085,-6.127425,-6.406096,-6.920598
38,40,3,5,37,North Carolina,9535483,9535751,9574323,9657592,9749476,...,6.453184,4.365764,5.258187,5.932176,5.279168,6.612526,9.049543,8.311209,8.409553,7.812475
39,40,2,4,38,North Dakota,672591,672576,674715,685225,701176,...,-1.666950,10.715179,16.716664,22.949497,14.080772,15.315123,-6.451442,-5.683143,-1.711806,-0.415751
40,40,2,3,39,Ohio,11536504,11536751,11539336,11544663,11548923,...,-1.105564,-1.900104,-1.878444,0.335559,-0.055998,-0.500254,-0.335715,0.934403,0.081934,-0.287861
41,40,3,7,40,Oklahoma,3751351,3751582,3759944,3788379,3818814,...,0.967937,3.614843,3.929176,5.064632,2.750342,4.513278,0.852239,-1.553900,-0.013974,2.103529
42,40,4,9,41,Oregon,3831074,3831079,3837491,3872036,3899001,...,6.148133,5.617206,3.885453,3.054669,7.349495,10.517812,15.722384,11.095753,7.451555,6.932692
43,40,1,2,42,Pennsylvania,12702379,12702868,12711160,12745815,12767118,...,-1.530139,1.552816,0.503431,-0.058645,-0.161708,-0.927692,-0.973673,0.284710,0.855382,-0.004375
44,40,1,1,44,Rhode Island,1052567,1052964,1053959,1053649,1054621,...,-3.036388,-1.483198,-0.632746,-0.701521,-0.066319,-0.587121,-0.319949,-1.596256,1.782437,0.406111
45,40,3,5,45,South Carolina,4625364,4625366,4635649,4671994,4717354,...,10.365420,4.472883,6.269019,7.244263,9.607938,11.600778,11.241529,11.026696,11.161729,11.484168
46,40,2,4,46,South Dakota,814180,814198,816166,823579,833566,...,1.093369,3.550552,6.513612,4.626817,1.715693,0.454461,5.211464,6.635312,1.345082,1.567465
47,40,3,6,47,Tennessee,6346105,6346276,6355311,6399291,6453898,...,5.295128,3.999341,5.375475,3.586588,4.550168,5.190219,6.072290,7.675288,7.543825,6.661665
48,40,3,7,48,Texas,25145561,25146091,25241971,25645629,26084481,...,4.361336,7.456866,8.764683,7.132347,10.003069,10.644301,8.369711,6.510551,5.448428,6.618846
49,40,4,8,49,Utah,2763885,2763891,2775332,2814384,2853375,...,4.902266,0.776426,1.451720,3.053374,1.683429,3.858608,9.016381,8.864528,6.983989,6.656804
50,40,1,1,50,Vermont,625741,625737,625879,627049,626090,...,-1.092645,0.897099,-2.464212,-0.352951,-2.290191,-0.028790,-2.507861,1.543268,0.440457,-0.479033
51,40,3,5,51,Virginia,8001024,8001049,8023699,8101155,8185080,...,-1.072502,4.396815,5.054575,3.455999,2.208119,1.521520,1.273915,2.382525,0.786684,0.673014
52,40,4,9,53,Washington,6724540,6724540,6742830,6826627,6897058,...,4.950999,6.906540,4.878573,4.473256,7.799901,10.408549,13.254138,12.865626,9.468242,8.135276
53,40,3,5,54,West Virginia,1852994,1853018,1854239,1856301,1856872,...,-3.933336,1.901071,0.828402,-0.825701,-1.779985,-2.551781,-4.330978,-5.336583,-4.484031,-4.127417
54,40,2,3,55,Wisconsin,5686986,5687285,5690475,5705288,5719960,...,-0.247295,-0.777306,-0.834993,0.066337,-0.421473,-1.068755,-0.628600,0.729926,0.763089,0.327262
55,40,4,8,56,Wyoming,563626,563775,564487,567299,576305,...,-1.750320,-0.379930,10.019202,4.863492,-4.816885,0.207166,-7.182252,-13.322489,-5.725739,-0.819814
56,40,X,X,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,...,0.000000,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,2.421463

In [32]:
# Cleaning #4: Renaming 'city_or_county' values that have 'New York (Manhattan)' to 'New York'
# (for accurate comparsion of different cities' population vs gun violence incidents later)
df['city_or_county'] = df['city_or_county'].replace('New York (Manhattan)', 'New York')

In [33]:
# Cleaning #5: Merging both population df's (state & city) with gun_violence df
# and then filtering down to 'city_pop' and 'state_pop column based on year/city and year/state, respectively

# @Team: This cell takes a bit of time to run; if you know a more efficient way
# to add population of city by year, please do so

# Merge with State population first
# This'll refer to state population by the years as (2013_x, 2014_x, etc.)
clean_df = df.merge(state_pop_df, how='left', on=['state'], sort=False)
# Merge with City population next
# This'll refer to city population by the years as (2013_y, 2014_y, etc.)
clean_df = clean_df.merge(city_pop_df, how='left', on=['city_or_county', 'state'], sort=False)

yr_idx = zip(clean_df['year'], clean_df.index)
pop_by_year_state = []
pop_by_year_city = []
for yr, idx in yr_idx:
  state = str(yr) + '_x'
  city = str(yr) + '_y'
  state_pop = clean_df.iloc[idx][state]
  city_pop = clean_df.iloc[idx][city]
  pop_by_year_state.append(state_pop)
  pop_by_year_city.append(city_pop)
clean_df['state_pop'] = pop_by_year_state
clean_df['city_pop'] = pop_by_year_city
clean_df = clean_df.drop(columns=['Census_x', 'Estimates Base_x', '2010_x', '2011_x', '2012_x',
                                  '2013_x','2014_x', '2015_x', '2016_x', '2017_x', '2018_x', '2019_x',
                                  'Rank', 'Census_y', 'Estimates Base_y', '2010_y', '2011_y', '2012_y',
                                  '2013_y','2014_y', '2015_y', '2016_y', '2017_y', '2018_y', '2019_y'])

KeyError: ignored

In [ ]:
# Cleaning #6: Merging land area of states and calculating
# each state's population densities, then adding as 'pop_density' column
clean_df = clean_df.merge(df_4, how='left', on='state')
clean_df['pop_density'] = clean_df['state_pop']/clean_df['area (sq. mi)']

In [ ]:
# Final Result of cleaned dataframe
clean_df

# Cleaning 
The Kaggle gun violence dataset contains 29 columns, of which we will be looking at 5: date, state, city or county, number of killed, and number of injured. The census population dataset contains 13 columns, of which we will be looking at 11: state and the population in 2010-2019. Same with the city census population dataset. Finally, we found a dataset with state areas in square miles on Github. In order to clean and merge the datasets so that we can look at the combined gun violence per state/city population/density, we had to clean the dataset in multiple steps.

In order to get population data, we have to merge the gun violence and both the state and city census datasets. Merging was difficult because we have to look at merging not only the state and city, but also the year in which the incidents occurred and what the population was at the time (as it changes year by year). Further, the city population dataset had city names in a format that included the state but did not have a separate column for it. We had to use regex to separate this, and then we could merge with the state census dataset. Then, with this combined table, we were able to merge it using Pandas with the gun violence dataset by state and city, using a for loop to get the total population for the matching year for each incident. We merge on incidents instead of by cities/states because of the repeated values in all the data frames. To get the population density for each state, we divided the state population by the area in square miles. The finalized cleaned dataframe included this density as a column.

For our visualizations, we take the gun violence data and convert the dates (in hyphenated format) to Python Datetime so that we can easily obtain only the year. Because our cities of interest are Camden in New Jersey and Philadelphia in Pennsylvania (as they are very similar in geographic location), we created a function that filtered our cleaned dataframe to exclude any data outside of the range of latitude and longitude boundaries for Camden and Philadelphia, then graphed with Matplotlib the number of incidents reported in the dataset and the number of victims (victims being those killed and those injured) over the years. We also filtered the city population dataset (already sorted in descending order from most populated to least populated) to include the 5 most populated cities and 5 least populated cities in order to plot visualization 3 comparing gun violence for these cities. Finally, we plotted bar graphs after grouping the cleaned dataframe by state and obtaining the top 5 states with gun violence incidents, as well as obtaining their associated population densities.

In [ ]:
# Defining new dataframe ('phil_camden') limiting to gun violence incident
# in Philadelphia, PA and Camden, NJ for our visualizations for 1st question

def get_boundaries(df):
    boundaried = df[(df['latitude'] <= 39.9661) & (df['latitude'] >= 39.8906)]
    boundaried = boundaried[(boundaried['longitude'] <= -75.0649) & (boundaried['longitude'] >= -75.1952)]
    return boundaried

phil_camden = get_boundaries(clean_df)
phil_camden

In [ ]:
# Visualization #1 (numerical year):
# Comparing number of Gun Violence Incidents & Victims
# Between Philadelphia, PA, and Camden, NJ, over time

phil_camden_sum = phil_camden.groupby(['city_or_county','year']).sum()
phil_camden_sum['num_incidents'] = phil_camden.groupby(['city_or_county', 'year']).count()['incident_id'].values
phil_camden_sum['num_victims'] = phil_camden_sum['n_killed'].values + phil_camden_sum['n_injured'].values

phil = phil_camden_sum.loc['Philadelphia']
camden = phil_camden_sum.loc['Camden']
years = list(phil.index)
num_victims_phil = phil['num_victims'].values
num_incidents_phil = phil['num_incidents'].values
num_victims_camden = camden['num_victims'].values
num_incidents_camden = camden['num_incidents'].values

fig, [ax1, ax2] = plt.subplots(1, 2, figsize=(14, 4))
ax1.plot(years, num_incidents_phil, label='Philadelphia')
ax1.plot(years, num_incidents_camden, label='Camden')
ax1.set_title('Number of Incidents in Philadelphia & Camden over Time')
ax1.set_xlabel('Year')
ax1.set_ylabel('Number of Incidents')
ax1.set_xticks(years)
ax1.legend()

ax2.plot(years, num_victims_phil, label='Philadelphia')
ax2.plot(years, num_victims_camden, label='Camden')
ax2.set_title('Number of Victims in Philadelphia & Camden over Time')
ax2.set_xlabel('Year')
ax2.set_ylabel('Number of Victims')
ax2.set_xticks(years)
ax2.legend();

After edging our research area down to number of victimes and incidents in both Philadelphia (treatment group) and Camden (control group), we were able to find that there has been similar trend in a shape of fall, then rise, and then falling movement in Philadelphia. This demonstrates that after the in-statement of Act of 192 in Pennsylvania, there has been, ironically, a remarkable decrease in number of incidents and victims from gun violence, within Philadelphia. This was a natural outcome as number of victims will be evidently less as the number of incidents goes down. This demonstrates that the in-actment of Act of 192 had a positive relation to decreasing the frequency of gun misusage. The decrease in number of incident is remarkable after 2014 as it dropped from around 140 to 60 from 2014 to 2015. In case of Camden, which free from the Act of 192 also demonstrated decreasing trend in the number of gun-violence incidents from around 110 to 60 over 1-year period. However, the number of victims did not show any changes during that period. Overall, both Camden and Philadelphia have demonstrated decreasing number of gun-violence cases and victims over the 4-year period from our data sets. However, the amount of decrease has varied for both cities as the number of cases and victims have slightly increased in Philadelphia from 2015 to 2016, while the numbers of continuously gone down in Camden. We assume that the increasing number and strictness within gun-control policy has caused overall number of cases and victims to go down throughout the entire nation, but as one can see, the act of 192 seemed to had some correlation to the bounce back of number of gun-violence cases in Philadelphia. The difference between Philadelphia and Camden was the presence of Act of 192, and we support our assumption as reasonable because Act of 192 gave an opportunity for gun advocacy organizations to challenge legislative power on gun-control (Pennsylvania). This may have potentially let to out-break in spread of guns in the wrong hands. 

This is related to our question regarding whether there are less casualities over time. In this case, the data from Philadelphia and Camden seems to suggest this. However, we need further analysis to determine why and if there is a causation (whether due to policy or another variable).

In [ ]:
phil_camden_sum.loc[["Camden", "Philadelphia"]][['num_incidents', 'num_victims']]

In [ ]:
# Visualization #2 (categorical city):
# Total number of Gun Violence Incidents between Philadelphia & Camden.

total_incidents_phil = phil['num_incidents'].sum()
total_incidents_camden = camden['num_incidents'].sum()

plt.bar(['Philadelphia', 'Camden'], [total_incidents_phil, total_incidents_camden])
plt.xlabel('City')
plt.ylabel('Number of incidents')
plt.title('Total Number of Incidents in Philadelphia and Camden')
plt.show();

From a bigger point-of-view, there were (overall) greater number of gun-violence incidents in Philadelphia compared to the number in Camden. This aligns with our analysis from the previous visualization that the Act of 192 potentially had correlation to a higher frequency of incidents in Philadelphia. 

This relates to our causal inference question on whether gun control policy increases or decreases gun violence on a very broad scale. This gives us a preliminary insight on this relationship using the two cities as an example of a treatment and control group (controlled for other factors). It seems that the total number of incidents are greater for the city of Philadelphia, but not by much. Further analysis is needed to see if the Act of 192 really decreased gun violence.

In [ ]:
total = phil_camden_sum.groupby(level="city_or_county").sum()
total.loc[["Camden", "Philadelphia"]][['num_incidents']]

In [ ]:
# Visualization #3 (categorical city):
# Bar graph of Number of Gun Violence Incidents from
# top 5 MOST populated to top 5 LEAST populated cities
# (rank of city populations are pulled from 'city_pop_df')

most_5 = city_pop_df.iloc[:5]
most_5_cities = most_5[['city_or_county', 'state']].values
least_5 = city_pop_df.iloc[-5:]
least_5_cities = least_5[['city_or_county', 'state']].values
locations = most_5_cities.tolist()+least_5_cities.tolist()

most_least_cities_df = clean_df.groupby(['city_or_county', 'state']).sum()
most_least_cities_df['num_incidents'] = clean_df.groupby(['city_or_county', 'state']).count()['incident_id'].values

num_incidents_locations = []
for i in locations:
  num_incidents_locations.append(most_least_cities_df.loc[(i[0], i[1])]['num_incidents'])

city_state = []
pairing = []
for i in locations:
  pairing.append(tuple([i[0], i[1]]))
  pair = ", ".join(i)
  city_state.append(pair)

plt.figure(figsize=(25, 4))
plt.bar(city_state, num_incidents_locations, color=['green', 'green', 'green', 'green', 'green', 
                                                    'blue', 'blue', 'blue', 'blue', 'blue'])
plt.xlabel('Cities')
plt.ylabel('Number of Incidents')
plt.title('Comparing the Number of Gun Violence Incidents between Top 5 and Least 5 Populated Cities')
plt.show();

The top 5 cities with highest population (ranked highest from left to right) are marked with green bars, while the top 5 cities with lowest population (ranked lowest from left to right) are marked with blue bars. From the visualization #3, it demonstrates a stark difference between the number of incidents between the top 5 populated cities and least 5 populated cities. This was a reasonable outcome as force of regulation is weaker for cities with greater populations. However, we discovered an interesting finding as the city of Chicago demonstrated exceptionally higher number of gun-violence case reports compared to the other 4 of the most populated cities in the United States. Chicago isn't the most populated city in US as the top 5 most populated cities are ranked from New York, Los Angelas, Chicago, Houston, and Phoenix. It was unexpected to find that Chicago (the third most populated city) was exponentially outnumbering the gun-violence incidents from cities that were more heavily populated than Chicago. Another unexpected founding was that the cities (from top 5 cities) that were less populated than New York and Los Angelas had more case reports on gun-violences. There are multiple confounding variables to discover the causal-relationship between the gun-violence and population, but reporter Lakeidra Chavis has affiliated dozens of gang affiliated residential population ratio in Chicago for the cause of gun-violence (Chavis). On the other hand, the finding that we found from observing the gun-violance incidents from the least populated cities was more on the reasonable level. The lowest 2 cities from the lowest number of populations were Lakewood and Troy. 

This relates to our question of whether more populated cities are associated with more instances or deadlier instances of gun violence. Before we look at correlations, we can take a look at the top 5 and least 5 populated cities as a whole, and it seems to suggest that there seems to somewhat be a difference between populated and unpopulated cities (but of course, this is on a very broad scale).

In [ ]:
most_least_cities_df.loc[(i for i in pairing)][['num_incidents']]

In [ ]:
# Visualization #4 (numerical population density):
# Bar graph of top 5 states with highest number of gun incidents
# alongside their population density
state_groups = clean_df.groupby('state').count()
state_density = clean_df.groupby('state').mean()
incidents_by_state = list(zip(state_groups.index, state_groups['incident_id'].values))
incidents_by_state.sort(key = lambda x: x[1], reverse=True)

top_5_states = list(i[0] for i in incidents_by_state[:5])
top_5_incidents = list(i[1] for i in incidents_by_state[:5])
top_5_pop = list(state_density.loc[i]['pop_density'] for i in top_5_states)

fig, [ax1, ax2] = plt.subplots(1, 2, figsize=(12, 4))
ax1.bar(top_5_states, top_5_incidents)
ax1.set_title('Top 5 States with most Gun Violence Incidents')
ax1.set_xlabel('State')
ax1.set_ylabel('Number of Violences')

ax2.bar(top_5_states, top_5_pop)
ax2.set_title('Population Density of Top 5 States')
ax2.set_xlabel('State')
ax2.set_ylabel('Density');

The visualization #4 is a variation of analysis made on visualization #3 that there is uncertainty on correlation between strictness in legislative force and gun-violence controll. This is well demonstrated from the two histograms represented above. Illinois (as it was shown from visualization #3) continues to have the highest number of incidents, despite being 3rd highest population density out of the top 5 states with highest population density. Similarly, California was the second most city with the highest number of gun violence. California was ranked third highest state with highest population density. 

We wanted to relate population density to our question of how properties of a location (particularly states or cities and in this case, states) pertain to gun violence. Here, although we take a look at the top 5 gun violence incident states, we see it does not represent the most densely populated states. This preliminarily suggests that population density is not the (biggest) contributing factor to gun violence.

In [ ]:
state_density_and_incidents = state_density.loc[top_5_states][['pop_density']]
state_density_and_incidents['num_incidents'] = top_5_incidents
state_density_and_incidents

In [ ]:
# Useful function for later
def parse_age(age_string):
	ages = []
	for age in age_string.split('||'):
		ages.append(int(age.split('::')[-1]))

	return np.mean(ages)

# Test
#ages_demo = '0::15||1::29'
#parse_age(ages_demo)

**Citation**
*   Chavis, L. (2021, August 31). The problems with Chicago's gang-centric narrative of gun violence. Injustice Watch. Retrieved April 25, 2022, from https://www.injusticewatch.org/news/police-and-prosecutors/2021/chicago-gun-violence-gang-narrative/ 
*   Pennsylvania Supreme Court affirms Commonwealth Court's decision in leach v. commonwealth declaring act 192 unconstitutional - municipal law update. Lamb McErlane PC. (2016, July 14). Retrieved April 25, 2022, from https://www.lambmcerlane.com/news/pennsylvania-supreme-court-affirms-commonwealth-courts-decision-leach-v-commonwealth-declaring-act-192-unconstitutional-municipal-law-update/

In [ ]:
# More cleaning to `clean_df` to shrink size 
# (dropping columns that won't be useful for our project)
# Removed 'incident_url', 'source_url', 'incident_url_fields_missing', 
# 'incident_characteristics', 'notes', 'participant_name', 'participant_relationship', 'sources'
final_clean_df = clean_df.drop(columns=['incident_url', 'source_url', 'incident_url_fields_missing', 
                           'incident_characteristics', 'notes', 'participant_name', 
                           'participant_relationship', 'sources'])
final_clean_df.to_csv('gun_violence.csv')

In [ ]:
# Exporting Gun Violence Incidents in Philadelphia, PA & Camden, NJ
phil_camden.to_csv('philadelphia_camden_gun_violence.csv')

# Results:

By Friday, April 29 at 11:59PM, you must submit a draft of your results for at least one research question (we recommend trying to have a draft of both done by this time). If (and only if) you address all the criteria in the corresponding Results section above, you will receive full credit on the
checkpoint.
- MULTIPLE HYPOTHESIS TESTING: 
  - Summarize and interpret the results from the hypothesis tests themselves.
  - For the two correction methods you chose, clearly explain what kind of error rate is being controlled by each one
- CAUSAL INFERENCE:
  - Summarize and interpret your results, providing a clear statement about causality (or a lack thereof) including any assumptions necessary.
  - Where possible, discuss the uncertainty in your estimate and/or the evidence against the hypotheses you are investigating.
  
You are free to change your results section or add (or remove) content between the checkpoint and your final submission. Course staff will not provide any feedback on the research question checkpoint.

## Multiple Hypothesis Testing

In [ ]:
# reminder of cleaned dataset
final_clean_df
import random

In [ ]:
def test_statistic(df, column):
    means_table = df.groupby(column).mean()
    return means_table.loc[[1]] - means_table.loc[[0]]

In [ ]:
def simulated_test_stat(df, column):
    shuffled_labels = df[column].sample(replace=True)[column]
    df["shuffled_labels"] = shuffled_labels
    
    return test_statistic(df, 'shuffled_labels')

In [ ]:
def p_value(df, column, observed_difference, comparison):
    differences = []

    repetitions = 5000
    for i in np.arange(repetitions):
        new_difference = simulated_test_stat(df, column)
        differences = np.append(differences, new_difference) 
        if comparison=="greater":
            #indicates that higher values of the difference favor the alternative hypothesis that the treatment incidents were higher on average
            empirical_p = np.count_nonzero(differences >= observed_difference) / repetitions
        else:
            #indicates that lower values of the difference favor the alternative hypothesis that the treatment incidents were lower on average
            empirical_p = np.count_nonzero(differences <= observed_difference) / repetitions  
    return empirical_p

### Are more populated cities associated with deadlier instances of gun violence?

Null hypothesis: In the U.S., the distribution of deadly instances of gun violence (according to our definition of deadly above) is the same for cities that are populated and cities that are not. The difference in the sample is due to chance.

Alternative hypothesis: In the U.S., the instances of gun violence are deadlier for cities that are populated vs. cities that are not.

In [ ]:
most_populous = final_clean_df.loc[df['city_or_county'].isin(['New York, New York', 'Los Angeles, California', 'Chicago, Illinois', 'Houston, Texas', 'Phoenix, Arizona'])]
most_populous['populous?'] = 1
least_populous = final_clean_df.loc[df['city_or_county'].isin(['Lakewood, Ohio', 'Troy, New York', 'Saginaw, Michigan', 'Niagara Falls, New York', 'Chaleston, West Virginia'])]
least_populous['populous?'] = 0
populous = [most_populous, least_populous]
populous['num_incidents'] = populous.groupby(['city_or_county', 'year']).count()['incident_id'].values
populous['num_victims'] = populous['n_killed'].values + populous['n_injured'].values

In [ ]:
victim_populous = populous[['populous?', 'num_victims']]
test_victim_populous = test_statistic(populous, 'populous?')
p_value(populous, 'populous?', test_victim_populous, 'greater')

### Are more populated cities associated with more instances of gun violence?

Null hypothesis: In the U.S., the distribution of instances of gun violence is the same for cities that are populated and cities that are not. The difference in the sample is due to chance.

Alternative hypothesis: In the U.S., the number of instances of gun violence (according to our definition of deadly above) is higher for cities that are populated vs. cities that are not.

In [ ]:
victim_populous = populous[['populous?', 'num_incidents']]
test_victim_populous = test_statistic(populous, 'populous?')
p_value(populous, 'populous?', test_victim_populous, 'greater')

### Are more populated densely populated states associated with deadlier instances of gun violence?

Null hypothesis: In the U.S., the distribution of deadly instances of gun violence (according to our definition of deadly above) is the same for cities that are densely populated and cities that are not. The difference in the sample is due to chance.

Alternative hypothesis: In the U.S., the instances of gun violence are deadlier for cities that are densely populated vs. cities that are not.

### Are more populated densely populated states associated with more instances of gun violence?

Null hypothesis: In the U.S., the distribution of instances of gun violence is the same for cities that are densely populated and cities that are not. The difference in the sample is due to chance.

Alternative hypothesis: In the U.S., the number of instances of gun violence (according to our definition of deadly above) is higher for cities that are densely populated vs. cities that are not.

### Are crimes getting less violent over time (number of casualties)?

Null hypothesis: In the U.S., the distribution of instances of deadly gun violence is the same before 2014 as it was after. The difference in the sample is due to chance.

Alternative hypothesis: In the U.S., the number of instances of deadly gun is higher before 2014 than it was after.